/* Reset box-model
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
* {
  box-sizing: border-box; }

::before,
::after {
  box-sizing: inherit; }

/* Document
     ========================================================================== */
/**
   * 1. Correct the line height in all browsers.
   * 2. Prevent adjustments of font size after orientation changes in iOS.
   * 3. Remove gray overlay on links for iOS.
   */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/* Vertical rhythm
     ========================================================================== */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0; }

/* Headings
     ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0; }

/* Lists (enumeration)
     ========================================================================== */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Lists (definition)
     ========================================================================== */
dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

address {
  font-style: inherit; }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
  vertical-align: bottom; }

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom; }

/* Forms
     ========================================================================== */
/**
   * Reset form fields to make them styleable
   * 1. Reset radio and checkbox to preserve their look in iOS.
   */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit; }

[type='checkbox'] {
  /* 1 */
  -webkit-appearance: checkbox;
  appearance: checkbox; }

[type='radio'] {
  /* 1 */
  -webkit-appearance: radio;
  appearance: radio; }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none; }

button[disabled],
[type='button'][disabled],
[type='reset'][disabled],
[type='submit'][disabled] {
  cursor: default; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Reset to invisible
   */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Remove the padding in IE 10.
   */
[type='checkbox'],
[type='radio'] {
  padding: 0;
  /* 1 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the outline style in Safari.
   */
[type='search'] {
  outline-offset: -2px;
  /* 1 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
   * Clickable labels
   */
label[for] {
  cursor: pointer; }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Table
     ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  text-align: left; }

td,
th {
  vertical-align: top; }

th {
  text-align: left;
  font-weight: bold; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

html {
  font-size: 62.5%; }

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed; }

img {
  max-width: 100%;
  display: block; }

button:focus, button:active {
  outline: 0; }

input {
  border-radius: 0;
  outline: 0;
  border: 1px solid black;
  background-color: transparent;
  font-family: inherit; }
  input:focus {
    outline: none; }
  input::placeholder {
    color: inherit;
    font-family: inherit; }

/*
min-width
[0-600px]     Phone
600px 900px   Tablet Portrait
900-1200      Tablet Landscape
1200- 1440    Desktop [max-width]
*/
/*
max-width
0-600px       Phone
600-900px     Tablet Portrait
900-1200      Tablet Landscape
[1200- 1800]  Normal styles
min-width
1800px +      Big Desktop
*/
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.65; }

.heading {
  font-family: "Poppins", sans-serif; }

/* 2.4rem(24px) @ 37.5rem(375px) increasing to 4rem(40px) @ 144rem(1440px) */
.h1 {
  font-size: clamp(2.4rem, calc(2.4rem + ((1vw - 0.375rem) * 1.5023)), 4rem);
  /* Where: 1.5023 = 100 * font-size_difference / viewport_width_difference */ }

/* 1.8rem(18px) @ 37.5rem(375px) increasing to 3.2rem(32px) @ 144rem(1440px) */
.h2 {
  font-size: clamp(1.8rem, calc(1.8rem + ((1vw - 0.375rem) * 1.3146)), 3.2rem);
  /* Where: 1.3146 = 100 * font-size_difference / viewport_width_difference */ }

/* 2rem(20px) @ 37.5rem(375px) increasing to 2.8rem(28px) @ 144rem(1440px) */
.h3 {
  font-size: clamp(2rem, calc(2rem + ((1vw - 0.375rem) * 0.7512)), 2.8rem);
  /* Where: 0.7512 = 100 * font-size_difference / viewport_width_difference */ }

/* 1.6rem(16px) @ 37.5rem(375px) increasing to 1.8(18px) @ 144rem(1440px) */
.p {
  font-size: clamp(1.6rem, calc(1.6rem + ((1vw - 0.375rem) * 0.1878)), 1.8rem);
  /* Where: 0.1878 = 100 * font-size_difference / viewport_width_difference */ }

/* 1.1rem(11px) @ 37.5rem(375px) increasing to 1.2rem(12px) @ 144rem(1440px) */
.text-small {
  font-size: clamp(1.1rem, calc(1.1rem + ((1vw - 0.375rem) * 0.0939)), 1.2rem);
  /* Where: 0.0939 = 100 * font-size_difference / viewport_width_difference */ }

.text-300 {
  font-weight: 300; }

.text-600 {
  font-weight: 600; }

.text-700 {
  font-weight: 700; }

.text-italic {
  font-style: italic; }

.color-dark {
  color: #00252e; }

.color-white {
  color: #fff; }

.color-gray {
  color: #808d99; }

.color-light {
  color: #ebfbff; }

.color-primary {
  color: #ff52bf; }

.color-secondary {
  color: rebeccapurple; }

.color-alert {
  color: #ff5263; }

.bg-dark {
  background-color: #00252e; }

.bg-white {
  background-color: #fff; }

.bg-light {
  background-color: #ebfbff; }

.bg-primary {
  background-color: #ff52bf; }

.bg-primary-50 {
  background-color: rgba(255, 82, 191, 0.5); }

.bg-secondary {
  background-color: rebeccapurple; }

.shadow-dark {
  box-shadow: 0px 10px 25px rgba(0, 37, 46, 0.5); }

.shadow-primary {
  box-shadow: 0px 10px 25px 1px rgba(255, 82, 191, 0.5); }

.border-secondary {
  border: 1px solid rebeccapurple; }

.border-radius-sm {
  border-radius: 4px; }

.border-radius-24 {
  border-radius: 24px; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; }

.container {
  max-width: 1200px;
  padding: 5rem;
  margin: 0 auto;
  overflow: hidden; }

.center-full {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.row {
  display: flex;
  align-items: center; }

.column {
  display: flex;
  flex-direction: column; }

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.header {
  background-image: url("../images/bg-hero-mobile.svg"), linear-gradient(to right, rgba(235, 251, 255, 0.5), rgba(235, 251, 255, 0.5));
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.4rem;
  padding: 2.4rem 0; }
  .navigation__logo {
    max-height: 2rem;
    width: auto; }
  .navigation__button {
    background: #fff;
    height: 100%;
    border-radius: 24px;
    padding: 0.8rem 2.4rem; }

.header-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid blue;
  align-items: center;
  text-align: center;
  padding: 9rem 4rem 6rem 4rem; }
