@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

//FONTS
$font-family-headings: 'Poppins', sans-serif;
$font-family-body: 'Open Sans', sans-serif;
$font-size-default: 1.8rem;

// PRIMARY COLORS
$color-primary: hsl(322, 100%, 66%);
$color-secondary: rebeccapurple;
$color-primary-50: hsla(322, 100%, 66%, 0.5);

// NEUTRAL COLORS
$color-white: #fff;
$color-black: #000;
$color-neutral-gray: hsl(208, 11%, 55%);
$color-neutral-dark: hsl(192, 100%, 9%);
$color-neutral-dark-50: hsla(192, 100%, 9%, 0.5);
$color-neutral-light: rgb(235, 251, 255);

// FEEDBACK COLORS
$color-alert: hsl(354, 100%, 66%);

// SHADOWS
$box-shadow-dark: 0px 10px 25px $color-neutral-dark-50;
$box-shadow-primary: 0px 10px 25px 1px $color-primary-50;

// BORDER RADIUS
$border-radius-24: 24px;
$border-radius-sm: 4px;

// TYPOGRAPHY
body {
	// font-size: $font-size-default;
	font-family: $font-family-body;
	line-height: 1.65;
}

.heading {
	font-family: $font-family-headings;
}

/* 2.4rem(24px) @ 37.5rem(375px) increasing to 4rem(40px) @ 144rem(1440px) */
.h1 {
	font-size: clamp(2.4rem, calc(2.4rem + ((1vw - 0.375rem) * 1.5023)), 4rem);
	/* Where: 1.5023 = 100 * font-size_difference / viewport_width_difference */
}

/* 1.8rem(18px) @ 37.5rem(375px) increasing to 3.2rem(32px) @ 144rem(1440px) */
.h2 {
	font-size: clamp(1.8rem, calc(1.8rem + ((1vw - 0.375rem) * 1.3146)), 3.2rem);
	/* Where: 1.3146 = 100 * font-size_difference / viewport_width_difference */
}

/* 2rem(20px) @ 37.5rem(375px) increasing to 2.8rem(28px) @ 144rem(1440px) */
.h3 {
	font-size: clamp(2rem, calc(2rem + ((1vw - 0.375rem) * 0.7512)), 2.8rem);
	/* Where: 0.7512 = 100 * font-size_difference / viewport_width_difference */
}

/* 1.2rem(16px) @ 37.5rem(375px) increasing to 1.8(18px) @ 144rem(1440px) */
.p {
	font-size: clamp(1.2rem, calc(1.2rem + ((1vw - 0.375rem) * 0.1878)), 1.8rem);
	/* Where: 0.1878 = 100 * font-size_difference / viewport_width_difference */
}

/* 1.1rem(11px) @ 37.5rem(375px) increasing to 1.2rem(12px) @ 144rem(1440px) */
.text-small {
	font-size: clamp(1.1rem, calc(1.1rem + ((1vw - 0.375rem) * 0.0939)), 1.2rem);
	/* Where: 0.0939 = 100 * font-size_difference / viewport_width_difference */
}

//Text styles
.text-300 {
	font-weight: 300;
}
.text-600 {
	font-weight: 600;
}
.text-700 {
	font-weight: 700;
}

.text-italic {
	font-style: italic;
}

// TYPOGRAPHY - Text Colors
.color-dark {
	color: $color-neutral-dark;
}

.color-white {
	color: $color-white;
}

.color-gray {
	color: $color-neutral-gray;
}

.color-light {
	color: $color-neutral-light;
}

.color-primary {
	color: $color-primary;
}

.color-secondary {
	color: $color-secondary;
}

.color-alert {
	color: $color-alert;
}

// FILL COLORS
.bg-dark {
	background-color: $color-neutral-dark;
}

.bg-white {
	background-color: $color-white;
}

.bg-light {
	background-color: $color-neutral-light;
}

.bg-primary {
	background-color: $color-primary;
}

.bg-primary-50 {
	background-color: $color-primary-50;
}

.bg-secondary {
	background-color: $color-secondary;
}

// BOX SHADOWS
.shadow-dark {
	box-shadow: $box-shadow-dark;
}

.shadow-primary {
	box-shadow: $box-shadow-primary;
}

// BORDER STYLES
.border-secondary {
	border: 1px solid $color-secondary;
}

.border-radius-sm {
	border-radius: $border-radius-sm;
}

.border-radius-24 {
	border-radius: $border-radius-24;
}
