.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.4rem 6rem;
	border-radius: 10rem;
	width: max-content;
	text-decoration: none;
	font-family: $font-family-headings;

	&:hover {
		opacity: 0.8;
		transform: translateY(-2px);
	}
	&:active {
		box-shadow: 0 0.5rem 1rem rgba($color-neutral-dark, 0.15);
		transform: translateY(0);
	}

	&--primary {
		background: $color-primary;
		color: $color-white;
		box-shadow: 0 0.5rem 1rem rgba($color-primary, 0.25);
	}

	&--white {
		background: $color-white;
		color: $color-neutral-dark;
		box-shadow: 0 0.5rem 1rem rgba($color-neutral-dark, 0.25);
	}

	&--large {
		padding: 2.2rem 6rem;
	}
}
